{% for item in basket_app_context.basket_items %}
<div class="basket_record">
    <span class="category_name">{{ item.product.category.name }}</span>
    <span class="basket_product_name">{{ item.product.name }}</span>
    <span class="basket_product_price">{{ item.product.price }}&nbsp;руб.</span>
    <input type="number" min="0"
           name="{{ item.pk }}"
           value="{{ item.quantity }}">
    <span class="basket_product_cost">{{ item.cost }}&nbsp;руб</span>
        <a href="{% url 'basket_urls:remove' item.product.pk %}" class="">Delete</a>
</div>
{% endfor %}