{% extends 'mainapp/base.html'%}
{% load static %}
{% load custom_tags %}
{% block container %}
    {% include mainapp_context.path_to_common_inc|add:'inc_header.html' %}
    <div class="basket_list padding_site">
        <p>В корзине {{ basketapp_context.basket_items|basket_total_quantity }} товаров на сумму
            {{ basketapp_context.basket_items|basket_total_cost }} руб.</p>
        {% include basketapp_context.path_to_basket_inc|add:'inc_basket_list.html' %}
        <a class="basket_button" href="{% url 'order_urls:order_create' %}">Создать заказ</a>
    </div>

{% endblock %}

{% block js %}
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/basket_scripts.js' %}"></script>
{% endblock %}