{% extends 'main_app/base.html'%}
{% load static %}
{% block container %}
{% include main_app_context.path_to_common_inc|add:'inc_header.html' %}
<div class='products_sheet padding_site'>
    <div class='products_block'>
        <div class='product_card'>
            <a href="{{main_app_context.path_to_media}}{{product.image}}" class='product_link' target="_blank">
                <img src='{{main_app_context.path_to_media}}{{product.image}}' alt={{product.name}}>
            </a>
            <div class="description">
                <h3 class="product_name">{{ product.name }}</h3>
                <p class="product_price"> {{ product.price }}&nbsp;<span>USD</span></p>
                <p class="product_price"> In the stock: {{ product.quantity }} </p>
                <p class="product_description"> {{ product.description }} </p>
            </div>
            <a href="{% url 'basket_urls:add' product.pk %}" class='basket_button'>Add to basket</a>
            <a href="{% url 'basket_urls:remove' product.pk %}" class='basket_button'>Remove from basket</a>
        </div>

    </div>
</div>
<div class="clr"></div>
{% endblock %}