{% extends 'mainapp/base.html'%}
{% load static %}
{% block greetings %}
{% endblock %}
{% block container %}
<h1>{{ object.name }}</h1>
<img width="200" src='{{adminapp_context.path_to_media}}{{ object.image }}/'>
<p>{{ object.short_desc }}</p>
<a href="{% url 'admin_custom_urls:product_update' object.pk %}">Редактировать</a>
<br>
<a href="{% url 'admin_custom_urls:product_delete' object.pk %}">Удалить</a>
<br>
<br>
<a href="{% url 'admin_custom_urls:products' %}"> <-- Ко всем продуктам</a>
{% endblock %}
{% block footer %}
{% endblock %}