{% extends 'main_app/base.html'%}
{% load static %}
{% block greetings %}
{% endblock %}
{% block container %}
<form enctype="multipart/form-data" class="form-horizontal" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{{ button_label }}">
</form>
{% if object.pk %}
<br>
<a href="{% url 'admin_custom_urls:category_delete' object.pk %}">Delete</a>
{% endif %}
<br>
<a href="{% url 'admin_custom_urls:categories' %}"> <-- To all categories</a>
{% endblock %}
{% block footer %}
{% endblock %}