{% extends 'main_app/base.html'%}
{% load static %}
{% block greetings %}
{% endblock %}
{% block container %}
<h2>Users</h2>
<a href="{% url 'admin_custom_urls:user_create' %}">Create new user</a>
<ul>
    {% for object in object_list %}
    <li>
        <a href="{% url 'admin_custom_urls:user_update' object.pk %}"
           style="{% if not object.is_active %} text-decoration: line-through; {% endif %}"
        >{{ object.username }}</a>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'admin_custom_urls:index' %}">To Admin Page</a>
{% endblock %}
{% block footer %}
{% endblock %}