{% load static %}
<div class='header2 clear_fix'>
    <h2 class='trending_title'>Trending Products</h2>
    <a href="{% url 'products_urls:category' 0 %}" class='explore_all clear_fix'>EXPLORE ALL</a>
</div>
<div class='trending_products_block'>
    {% for product in trending_products %}
    <div class='product_card'>
    <a href="{% url 'products_urls:product' product.pk %}" class='product_link' target="_blank">
        <img src='{{mainapp_context.path_to_media}}{{product.image}}' alt={{product.name}}>
    </a>
</div>
        {# include mainapp_context.path_to_main_inc|add:'inc_product_card.html' #}
    {% endfor %}
</div>