{% if object %}
    <div class="h2">
        Order #{{ object.pk }}; {{ object.created|date:"Y-m-d H:i:s" }}
    </div>
    <hr>
    <div class="h4">User: {{ user.last_name }} {{ user.first_name }}</div>
    <div class="h4">Update Date: {{ object.updated|date:"Y-m-d H:i:s" }}</div>
    <div class="h4">Status: {{ object.get_status_display }}</div>
    <hr>
    {% with object_summary=object.get_summary %}
        <div class="h4">
            Total quantity: <span class="order_total_quantity">{{ object_summary.total_quantity }}</span>
        </div>
        <div class="h3">
            Total cost: <span class="order_total_cost">{{ object_summary.total_cost }}</span>USD
        </div>
    {% endwith %}
{% else %}
    <div class="h2">New order</div>
    <hr>
    <div class="h4">User: {{ user.last_name }} {{ user.first_name }}</div>
    <hr>
    <div class="h4">
        Total quantity: <span class="order_total_quantity"></span>
    </div>
    <div class="h3">
        Total cost: <span class="order_total_cost"></span>USD
    </div>
{% endif %}
<hr>