{% load static %}
{% load cache %}

<!--{% cache 3600 footer %}-->
    <div class="footer padding_site">
        <div class="footer_top">
            <div class="contact">
                <h3>contact us</h3>
                <p>132A Bridge Road Richmond VIC Australia.</p>
                <p>Talk to us on 1300 132 info@interior.com</p>
            </div>
            <div class="useful">
                <h3>Useful Information</h3>
                <ul class="info_menu">
                    {% for link in main_app_context.info_menu %}
                        <li>
                            <a href={{link.href}}>{{link.name|upper}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="touch">
                <h3>let&#39;s stay in touch &#33;</h3>
                <p>Subscribe to know about our latest news, products and special offers just for subscribers.</p>
                <form action="#">
                    <input type="email" placeholder="your email address">
                    <button type="submit" class="email_submit">
                        <img src="{% static main_app_context.path_to_common_img|add:'telegram.png'%}" alt="send">
                    </button>
                </form>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="copyright">&copy; Copyright - INTERIOR 2016. All Rights Reserved.</div>
            <div class="socials">
                {% for link in main_app_context.socials %}
                <a href={{link.href}} target="_blank" class="circle">
                    <img src="{% static link.image_source %}" alt={{link.name}}>
                </a>
                {% endfor %}
            </div>
            <div class="terms">
                <a href="#">Terms & Conditions</a> / <a href="#">Privacy policy & Cookies</a>
            </div>
        </div>
    </div>
<!--{% endcache %}-->