<ul class='items_menu clear_fix'>
    <li class='featured_list'>
        <a href="{% url 'products_urls:category' 0 %}"
        class="featured_link
        {% if request.resolver_match.kwargs.pk == 0 %} featured_link_active {% endif %}">
        ALL
        </a>
    </li>
    {% for category in product_categories %}
    <li class='featured_list'>
        <a href="{% url 'products_urls:category' category.pk %}"
           class='featured_link
           {% if request.resolver_match.kwargs.pk == category.pk %} featured_link_active {% endif %}'>
            {{ category.name|upper }}
        </a>
    </li>
    {% endfor %}
</ul>