{% load static %}

<p class='mobile_app_word'>mobile app</p>
<h2 class='slider_h2'>Find. Follow. Favorite.</h2>
<p class='mobile_app_content'>Save your favorites and share your style.</p>
<a href='https://www.apple.com/ru/ios/app-store/' class='app_store' target="_blank">
    <img src="{% static main_app_context.path_to_main_img|add:'app_store.jpg'%}" alt='app_store'>
</a>
<a href='https://play.google.com/store' class='google_play' target="_blank">
    <img src="{% static main_app_context.path_to_main_img|add:'google_play.jpg'%}" alt='google_play'>
</a>