{% extends 'main_app/base.html'%}
{% load static %}
{% block greetings %}
{% endblock %}
{% block container %}
<h2>Categories</h2>
{% include 'admin_app/includes/inc_product_category_menu.html' %}
<h2>Products</h2>
<a href="{% url 'admin_custom_urls:product_create' %}">Create new products</a>
<ul>
    {% for object in object_list %}
    <li>
        <a href="{% url 'admin_custom_urls:product_read' object.pk %}">{{ object.name }}</a>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'admin_custom_urls:index' %}">Admin Page</a>
{% endblock %}
{% block footer %}
{% endblock %}