{% extends "orders_app/base.html" %}
{% load static %}
{% block container %}
    {% include orders_app_context.path_to_orders_inc|add:'inc_order_summary.html' %}
    <div class="order_list">
        {% for item in object.order_items.select_related %}
            <div class='product_card' style="display: inline-block;">
                <a href="{{orders_app_context.path_to_media}}{{item.product.image}}"
                   class='product_link' target="_blank">
                    <img src='{{orders_app_context.path_to_media}}{{item.product.image}}' alt={{product.name}}>
                </a>
                <div class="description" style="text-align: center;">
                    <span class="category_name">{{ item.product.category.name }}</span>
                    <h3 class="product_name">{{ item.product.name }}</h3>
                    <span class="product_price">{{ item.product.price }}&nbsp;rub. x {{ item.quantity }}&nbsp; items.
                        = {{ item.get_product_cost }}&nbsp;rub.</span>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include orders_app_context.path_to_orders_inc|add:'inc_order_actions.html' %}
{% endblock %}