{% extends 'orders_app/base.html' %}
{% load staticfiles %}
{% block container %}
    <div class="category_delete">
        <div class="h1">Are you sure?</div>
        {% include orders_app_context.path_to_orders_inc|add:'inc_order_summary.html' %}
        <form action="{% url 'orders_app:order_delete' object.pk %}" method="post">
            {% csrf_token %}
            <input class="basket_button" type="submit" value="Delete">
        </form>
        <button class="basket_button">
            <a href="{% url 'orders_app:orders_list' %}">Cancel</a>
        </button>
    </div>
{% endblock %}