{% extends 'orders_app/base.html' %}
{% load staticfiles %}

{% block container %}
    <table class="table orders_list">
        <thead>
        <tr>
            <th>ID</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
            {% for item in object_list %}
                {% if item.is_active %}
                    <tr>
                        <td class="td1 orders_list">{{ item.pk }}</td>
                        <td>{{ item.created|date:"Y-m-d H:i:s" }}</td>
                        <td>{{ item.updated|date:"Y-m-d H:i:s" }}</td>
                        <td>{{ item.get_status_display }}</td>
                        <td><a href="{% url 'order_urls:order_read' item.pk %}">Read</a></td>
                        <td>
                            {% if item.status == 'FM' %}
                                <a href="{% url 'order_urls:order_update' item.pk %}">Update</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if item.status == 'FM' %}
                                <a href="{% url 'order_urls:order_delete' item.pk %}">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <a class="basket_button" href="{% url 'main_urls:featured' %}">Home page</a>
    <a class="basket_button" href="{% url 'order_urls:order_create' %}">New order</a>
{% endblock %}