{% load static %}

<div class='items_head clear_fix'>
    <ul class='items_menu clear_fix'>
        <li class='featured_list'>
            <a href="{% url 'main_urls:featured' %}"
               class="featured_link
            {% if request.resolver_match.url_name == 'featured' %} featured_link_active {% endif %}">
                Featured
            </a>
        </li>
        <li class='featured_list'>
            <a href="{% url 'main_urls:new' %}"
               class="featured_link
            {% if request.resolver_match.url_name == 'new' %} featured_link_active {% endif %}">
                New
            </a>
        </li>
    </ul>
    <a href="{% url 'products_urls:category' 0 %}" class='explore_all clear_fix'>Explore all</a>
</div>
<div class='featured_new_products_block'>
    {% if request.resolver_match.url_name == 'featured' %}
    {% for product in featured_products %}
    {% include mainapp_context.path_to_main_inc|add:'inc_product_card.html' %}
    {% endfor %}
    {% endif %}
    {% if request.resolver_match.url_name == 'new' %}
    {% for product in new_products %}
    {% include mainapp_context.path_to_main_inc|add:'inc_product_card.html' %}
    {% endfor %}
    {% endif %}
</div>