{% extends 'main_app/base.html'%}
{% load static %}
{% block container %}
{% include main_app_context.path_to_common_inc|add:'inc_header.html' %}
<div class='products_sheet padding_site'>{% include main_app_context.path_to_main_inc|add:'inc_products_sheet.html' %}</div>
<div class='exclusive left_exclusive'>{% include main_app_context.path_to_main_inc|add:'inc_exclusive.html' %}</div>
<div class='exclusive right_exclusive'>{% include main_app_context.path_to_main_inc|add:'inc_exclusive.html' %}</div>
{% endblock %}