{% extends 'main_app/base.html'%}
{% load static %}
{% block container %}
<div class='slider padding_site'>
    {% include main_app_context.path_to_common_inc|add:'inc_menu.html' %}
    {% include main_app_context.path_to_main_inc|add:'inc_slider.html' %}
</div>
<div class='featured_new padding_site vertical_margin'>
    {% include main_app_context.path_to_main_inc|add:'inc_featured_new.html' %}
</div>
<div class='exclusive left_exclusive'>
    {% include main_app_context.path_to_main_inc|add:'inc_exclusive.html' %}
</div>
<div class='exclusive right_exclusive'>
    {% include main_app_context.path_to_main_inc|add:'inc_exclusive.html' %}
</div>
<div class='trending_products padding_site vertical_margin'>
    {% include main_app_context.path_to_main_inc|add:'inc_trending_products.html' %}
</div>
<div class='hot_deal padding_site'>
    {% include main_app_context.path_to_main_inc|add:'inc_slider.html' %}
</div>
<div class='bottom_exclusive padding_site vertical_margin'>
    {% include main_app_context.path_to_main_inc|add:'inc_bottom_exclusive.html' %}
</div>
<div class='mobile_app padding_site'>
    {% include main_app_context.path_to_main_inc|add:'inc_mobile_app.html' %}
</div>
{% endblock %}